*:focus {
	outline: none;
}

/************************************************/
#selected_recipe_view {
	display: inline-block;
}

#container {
	background: rgb(227, 227, 227);
}

#main_contents {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0);
}

/************메인콘텐츠 시작***********/
/* 선택된 재료부분*/
#selected_ing_list {
	position: fixed;
	transform: translate(-50%, -50%);
	height: 100px;
	left: 50%;
	top: 100px;	
    width: 80%;
}

#selected_ing_div {
	width: 900px;
	height: 120px;
	position: fixed;
	top: 700px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(240, 240, 240);
	border-radius: 20px;
	padding-left: 20px;
	text-align: center;
	box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.33);
}

#tt {
	font-size: 26px;
	font-style: italic;
	left: 300px;
	position: fixed;
	z-index: -1;
}

/* 선택된 재료 박스 */
.selected_ing {
    height: 38px;
    background-color: rgba(10, 10, 10, 0.6);
    border-radius: 17px;
    margin: 10px;
    margin-left: 5px;
    float: left;
    border: 1px solid rgba(83, 83, 83, 0.14);
        box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.16);
}



/* 선택된 재료 이름 */
.selected_ing p {
	display: inline-block;
	margin-top: 8px;
	margin-left: 8px;
	font-size: 16px;
	color: rgb(250, 250, 250);
}

/* 선택된 재료 닫기버튼 */
.close_ing {
	float: right;
	margin: 12px 9px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: none;
	background-color: white;
	opacity: 0.9;
	cursor: pointer;	
    background: none;
}

.x{
	    width: 12px;
    height: 2px;
    background: #ffffffc4;
    position: fixed;
    margin-left: 3px;
    margin-top: -1px;
}

.x1{
	-webkit-transform: rotate(45deg);
}

.x2{
	-webkit-transform: rotate(-45deg);
}

/* 좌우 버튼 */
.recipeBtn{		
	display:block !important;
	width: 110px;
    position: fixed;
    top: 549px;
    background: rgba(5,5,5,0.5);
    transform:translate(-50%,-50%);
	border-radius: 23px;
	cursor: pointer;
	opacity: 0.5;
}

.recipeBtn img {	
    width: 100%;
}

#nextBtn{
	left: 75%;
}

#prevBtn{
	left: 25%;
}