
@charset "UTF-8";
body {
	background-color: #FFF5E6;
}

/* 게시글 전체 목록 */
#wrapper {
	max-width: 68rem;
	margin: 0 auto;
	margin-top: 10px;
}

/* 게시글 이미지 + 이름부분*/
#main .thumbnails {
	display: flex;
}

#main .thumbnails>div {
	flex-grow: 4;
	margin-right: 1rem;
	margin-left: 1rem;
}

#main .thumbnails a {
    margin-bottom: 1.5rem;
    display: inline-block;
    text-decoration: none;
}

#main .thumbnails img {
	width: 100%;
	max-width: 310px;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	display: block;
}

#main .thumbnails div {
	max-width: 330px;
}

#main .thumbnails h3 {
	border-left: 2px solid rgba(247, 206, 173, 0.3);
	border-right: 2px solid rgba(247, 206, 173, 0.3);
	border-bottom: 2px solid rgba(247, 206, 173, 0.3);
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	padding: 0.5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	color: #8D4738;
	font-size: 0.8rem;
	font-weight: 200;
	max-width: 300px;
	padding-top: 0.5rem+2px;
}


#main .thumbnails h3:hover {
	background-color: rgba(247, 206, 173, 0.8);
}

#main .thumbnails .listLine {
	display: block;
}


/* 게시글 끝 */


/* 목록, 쓰기 버튼 */
#buttonLine {
	max-width: 68rem;
	margin: 0 auto;
	margin-bottom: 50px;
}

#buttonLine .icon-th-thumb-empty {
	padding: 3px;
	float: left;
	text-decoration: none;
	color: #FFF5E6;
	background-color: rgba(242, 159, 5, 0.8);
	border: 1px solid #F29F05;
	border-radius: 0.2rem;
	font-size: 20px;
}

#buttonLine .icon-comment {
	padding: 3px;
	float: right;
	text-decoration: none;
	color: #FFF5E6;
	background-color: rgba(242, 159, 5, 0.8);
	border: 1px solid #F29F05;
	border-radius: 0.2rem;
	font-size: 20px;
}
/* 목록, 쓰기 버튼 끝 */


/* 검색 */
#searchLine{
	display: inline-block;
	text-align : center;
	line-height : 40px;
	height : 40px;
	width : 100%;
}

#searchText{
	font-size:23px; 
	width:200px;
}

#searchDrop{
	font-size:18px; 
	width:70px; 
	height:35px;
}

.icon-search{
    text-decoration: none;
    color: #FFF5E6;
    background-color: rgba(242, 159, 5, 0.8);
    border: none;
    border-radius: 0.2rem;
    font-size: 18px;
    width: 70px;
    height: 32px;
    margin-top: 24px;
}